<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">

</div>
<template>
    <div class="post">
        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="error" class="error">
            {{ error }}
        </div>

        <div v-if="post" class="content">
            <h2>{{ post.title }}</h2>
            <p>{{ post.body }}</p>
        </div>
    </div>
</template>
</body>
</html>
<script type="text/javascript" src="../../libs/js/vue.js"></script>
<script type="text/javascript" src="../../libs/js/vue-router2.0.0.js"></script>
<script type="text/javascript">

</script>