<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
<div id="app1">
    <ul>
        <template v-for="(value,key) in messages">
            <li >
                {{key}}{{' : '}}{{value}}
            </li>
        </template>

    </ul>
</div>

<div id="app2">
    <ul>
        <template v-for="(value,key,index) in messages">
            <li >
               {{{index}}--{{key}}{{' : '}}{{value}}
            </li>
        </template>

    </ul>
</div>
</body>
</html>


<script type="text/javascript" src="../../libs/js/vue.js"></script>
<script type="text/javascript">
    /*
     * 在 v-for 块中，我们拥有对父作用域属性的完全访问权限。 v-for 还支持一个可选的第二个参数为当前项的索引
     */
    var vm1 = new Vue({
        el:"#app1",
        data:{
            messages:{
                name:'dog',
                age:3
            }
        }
    })
</script>