<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app1">
    <ul>
        <li v-for="n in evenNumbers">{{ n }}</li>
    </ul>
</div>

<div id="app2">
    <ul>
        <li v-for="n in even(numbers)">{{ n }}</li>
    </ul>
</div>

</body>
</html>
<script type="text/javascript" src="../../../libs/js/vue.js"></script>
<script type="text/javascript">

    /*
     * 有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。在这种情况下，可以创建返回过滤或排序数组的计算属性。
     * */
    // 例如：
    var vm1 = new Vue({
        el: '#app1',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })


    //或者，您也可以使用在计算属性是不可行的 method 方法 (例如，在嵌套 v-for 循环中)：
    var vm2 = new Vue({
        el: '#app2',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })
</script>