<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app1">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>
<hr />

</body>
</html>
<script type="text/javascript" src="../../libs/js/vue.js"></script>
<script type="text/javascript">


    var vm1 = new Vue({
        el:'#app1',
        data:{
            picked:'Two'
        }
    })


</script>