<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app1">
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
</div>
<hr />
<div id="app2">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>

</div>
</body>
</html>
<script type="text/javascript" src="../../libs/js/vue.js"></script>
<script type="text/javascript">


    var vm1 = new Vue({
        el:'#app1',
        data:{
            checked:false
        }
    })

    var vm2 = new Vue({
        el:'#app2',
        data:{
            checkedNames:[]
        }
    })

</script>