<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app1">
    <anchored-heading1 v-for="levelItem in levels" v-bind:level="levelItem">Hello world!</anchored-heading1>
</div>
<hr>
<div id="app2">
    <anchored-heading2 v-for="levelItem in levels" v-bind:level="levelItem">Hello world!</anchored-heading2>
</div>

<script type="text/x-template" id="anchored-heading-template">
    <div>
        <h1 v-if="level === 1">
            <slot></slot>
        </h1>
        <h2 v-if="level === 2">
            <slot></slot>
        </h2>
        <h3 v-if="level === 3">
            <slot></slot>
        </h3>
        <h4 v-if="level === 4">
            <slot></slot>
        </h4>
        <h5 v-if="level === 5">
            <slot></slot>
        </h5>
        <h6 v-if="level === 6">
            <slot></slot>
        </h6>

    </div>
</script>
</body>
</html>
<script type="text/javascript" src="../../../libs/js/vue.js"></script>
<script type="text/javascript">
    /*
     template 在这种场景中就表现的有些冗余了。虽然我们重复使用 <slot></slot> 来接收每一个级别的标题标签，
     在标题标签中添加相同的锚点元素。但是些都会被包裹在一个无用的 div 中，因为组件必须有根节点。

     虽然模板在大多数组件中都非常好用，但是在这里它就不是很简洁的了。
     */
    Vue.component('anchored-heading1', {
        template: '#anchored-heading-template',
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    })

    var vm1 = new Vue({
        el:'#app1',
        data:{
            levels:[1,3,5,6]
        }
    })



    Vue.component('anchored-heading2', {
        render: function (createElement) {
            return createElement(
                    'h' + this.level,   // tag name 标签名称
                    this.$slots.default // 子组件中的阵列
            )
        },
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    })

    var vm2 = new Vue({
        el:'#app2',
        data:{
            levels:[1,3,5,6]
        }
    })
</script>